body{
  background-image: url("./fondos/fondo.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container{
  background: rgba(500,500,500,1);
  padding: 80px;
  border-radius: 40px;
  width: 900px;
  margin: auto;
  margin-top: 50px;
}

.recipes-container{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
  gap:20px;
  margin-top:20px;
}

.card{
  background: white;
  border-radius: 12px;
  padding: 20px;
  width: 350px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  text-align: center;
}

.card img{
  width:100%;
  border-radius:10px;
}

.card button{
  margin-top:10px;
  padding:6px;
  border:none;
  background:orange;
  color:white;
  border-radius:5px;
}

.recipe-detail{
  margin-top:40px;
}

.recipes-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 20px;
  justify-items: center;
}